doctype html
head
    meta(charset='utf-8')
    title Neural Network Page

div
    h1 Neural Network

    p Slope
    input#slope(type='number' value='0.4')
    p Learning Rate
    input#learningRate(type='number' value='0.1')
    input#applyChanges(type='button' value='Apply')

    p#currentDeviation Current Deviation:
    p#currentGuess Current Guess:
    script(src='p5.min.js')
    script(src='neural_network3.js')







